apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: alarm-manager-ingress
  namespace: apps
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-production"
spec:
  tls:
    - hosts:
        - alarm.t0n.eu
      secretName: alarm-manager-tls
  rules:
    - host: alarm.t0n.eu
      http:
        paths:
          - pathType: ImplementationSpecific
            backend:
              service:
                name: alarm-monitor-service
                port:
                  number: 80
